[submodule "lab01/lab01_names"]
	path = lab01/lab01_names
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_names.git
[submodule "lab01/lab01_python-strings"]
	path = lab01/lab01_python-strings
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_python-strings.git
[submodule "lab01/lab01_python-integers"]
	path = lab01/lab01_python-integers
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_python-integers.git
[submodule "lab01/lab01_python-hello"]
	path = lab01/lab01_python-hello
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_python-hello.git
[submodule "lab01/lab01_git-basics"]
	path = lab01/lab01_git-basics
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_git-basics.git
[submodule "lab02/lab02_reverse"]
	path = lab02/lab02_reverse
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_reverse.git
[submodule "lab02/lab02_lightup"]
	path = lab02/lab02_lightup
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_lightup.git
[submodule "lab02/lab02_cipher"]
	path = lab02/lab02_cipher
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_cipher.git
[submodule "lab02/lab02_tax"]
	path = lab02/lab02_tax
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_tax.git
[submodule "lab02/lab02_password"]
	path = lab02/lab02_password
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_password.git
[submodule "lab02/lab02_list"]
	path = lab02/lab02_list
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_list.git
[submodule "lab02/lab02_guess"]
	path = lab02/lab02_guess
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_guess.git
[submodule "lab02/lab02_count"]
	path = lab02/lab02_count
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_count.git
[submodule "lab02/lab02_bmi"]
	path = lab02/lab02_bmi
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_bmi.git
[submodule "lab03/lab03_timetable"]
	path = lab03/lab03_timetable
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_timetable.git
[submodule "lab03/lab03_unmasked"]
	path = lab03/lab03_unmasked
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_unmasked.git
[submodule "lab03/lab03_tree"]
	path = lab03/lab03_tree
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_tree.git
[submodule "lab03/lab03_tables"]
	path = lab03/lab03_tables
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_tables.git
[submodule "lab03/lab03_roman"]
	path = lab03/lab03_roman
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_roman.git
[submodule "lab03/lab03_prefix"]
	path = lab03/lab03_prefix
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_prefix.git
[submodule "lab03/lab03_magic"]
	path = lab03/lab03_magic
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_magic.git
[submodule "lab04/lab04_interleavings"]
	path = lab04/lab04_interleavings
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab04_interleavings.git
[submodule "lab04/lab04_matrix"]
	path = lab04/lab04_matrix
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab04_matrix.git
[submodule "lab04/lab04_weather"]
	path = lab04/lab04_weather
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab04_weather.git
[submodule "lab04/lab04_stack"]
	path = lab04/lab04_stack
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab04_stack.git
[submodule "lab04/lab04_primes"]
	path = lab04/lab04_primes
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab04_primes.git
[submodule "lab04/lab04_circle"]
	path = lab04/lab04_circle
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab04_circle.git
[submodule "lab05/lab05_simple"]
	path = lab05/lab05_simple
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_simple.git
[submodule "lab05/lab05_jwt"]
	path = lab05/lab05_jwt
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_jwt.git
[submodule "lab05/lab05_unpickle"]
	path = lab05/lab05_unpickle
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_unpickle.git
[submodule "lab05/lab05_process"]
	path = lab05/lab05_process
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_process.git
[submodule "lab05/lab05_imgsneak"]
	path = lab05/lab05_imgsneak
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_imgsneak.git
[submodule "lab05/lab05_blackout"]
	path = lab05/lab05_blackout
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_blackout.git
[submodule "lab05/lab05_team"]
	path = lab05/lab05_team
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab05_team.git
[submodule "lab08/lab08_reduce"]
	path = lab08/lab08_reduce
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab08_reduce.git
[submodule "lab08/lab08_cod"]
	path = lab08/lab08_cod
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab08_cod.git
[submodule "lab08/lab08_drykiss"]
	path = lab08/lab08_drykiss
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab08_drykiss.git
[submodule "lab08/lab08_encapsulate"]
	path = lab08/lab08_encapsulate
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab08_encapsulate.git
[submodule "lab08/lab08_matrix"]
	path = lab08/lab08_matrix
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab08_matrix.git
[submodule "lab08/lab08_requirements"]
	path = lab08/lab08_requirements
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab08_requirements.git
[submodule "lab09/lab09_lightup"]
	path = lab09/lab09_lightup
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab09_lightup.git
[submodule "lab09/lab09_decorator"]
	path = lab09/lab09_decorator
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab09_decorator.git
[submodule "lab09/lab09_deploy"]
	path = lab09/lab09_deploy
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab09_deploy.git
[submodule "lab09/lab09_fibonacci"]
	path = lab09/lab09_fibonacci
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab09_fibonacci.git
[submodule "lab09/lab09_history"]
	path = lab09/lab09_history
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab09_history.git
