[submodule "lab01/lab01_names"]
	path = lab01/lab01_names
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_names.git
[submodule "lab01/lab01_python-strings"]
	path = lab01/lab01_python-strings
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_python-strings.git
[submodule "lab01/lab01_python-integers"]
	path = lab01/lab01_python-integers
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_python-integers.git
[submodule "lab01/lab01_python-hello"]
	path = lab01/lab01_python-hello
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_python-hello.git
[submodule "lab01/lab01_git-basics"]
	path = lab01/lab01_git-basics
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab01_git-basics.git
[submodule "lab02/lab02_reverse"]
	path = lab02/lab02_reverse
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_reverse.git
[submodule "lab02/lab02_lightup"]
	path = lab02/lab02_lightup
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_lightup.git
[submodule "lab02/lab02_cipher"]
	path = lab02/lab02_cipher
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_cipher.git
[submodule "lab02/lab02_tax"]
	path = lab02/lab02_tax
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_tax.git
[submodule "lab02/lab02_password"]
	path = lab02/lab02_password
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_password.git
[submodule "lab02/lab02_list"]
	path = lab02/lab02_list
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_list.git
[submodule "lab02/lab02_guess"]
	path = lab02/lab02_guess
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_guess.git
[submodule "lab02/lab02_count"]
	path = lab02/lab02_count
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_count.git
[submodule "lab02/lab02_bmi"]
	path = lab02/lab02_bmi
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab02_bmi.git
[submodule "lab03/lab03_timetable"]
	path = lab03/lab03_timetable
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_timetable.git
[submodule "lab03/lab03_unmasked"]
	path = lab03/lab03_unmasked
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_unmasked.git
[submodule "lab03/lab03_tree"]
	path = lab03/lab03_tree
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_tree.git
[submodule "lab03/lab03_tables"]
	path = lab03/lab03_tables
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_tables.git
[submodule "lab03/lab03_roman"]
	path = lab03/lab03_roman
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_roman.git
[submodule "lab03/lab03_prefix"]
	path = lab03/lab03_prefix
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_prefix.git
[submodule "lab03/lab03_magic"]
	path = lab03/lab03_magic
	url = gitlab@gitlab.cse.unsw.EDU.AU:COMP1531/21T1/students/z5192519/lab03_magic.git
